.container{
  position: absolute;
  background-color: black;
  height: 95%;
  width: 95%;
}

.pixel{
display:inline-block;
height: 10px;
width: 10px;
border: black 1px solid;
background-color: none;
float: left;
}


#palette{
position:fixed;
height: 700px;
width: 100px;
border: black 3px dotted;
background-color: white;
float: left;
}

/*change palette width above to 5px when colorSwatches are bound to palette hidden
#palette:hover{
  width: 100px;
}*/

.colorSwatch{
display: inline-flex;
height: 90px;
width: 90px;
border-radius: 50%;
border: black 1px solid;
/*float: top;*/
top: 10px;
left: 10px;
}

.current {
  background-color: none;
  text-align: center;
  flex-wrap: wrap;
  display: inline-flex;
  height: 90px;
  width: 90px;
  border-radius: 10%;
  border: black 1px solid;
  /*float: top;*/
  top: 10px;
  left: 10px;
  text-indent: 5px;
}

.red {background-color: red;}
.orange {background-color: orange;}
.yellow {background-color: yellow;}
.green {background-color: green;}
.blue {background-color: blue;}
.purple {background-color: purple;}



/*.pixelRed{
display:inline-block;
height: 10px;
width: 10px;
border: black 1px solid;
background-color: red;
float: left;
}*/
